<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBManagement" connectionString="metadata=res://*/DAL.DBManagement.csdl|res://*/DAL.DBManagement.ssdl|res://*/DAL.DBManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P4P7RDE\SQLEXPRESS;initial catalog=PHONESTORE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
<!--<add name="MyDbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=%DATABASE_URL%;Integrated Security=True" providerName="System.Data.SqlClient" />-->